schema/SiteInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="siteinfo"
    targetNamespace="http://kurema.github.io/schema/siteinfo.xsd"
    elementFormDefault="qualified"
    xmlns="http://kurema.github.io/schema/siteinfo.xsd"
    xmlns:mstns="http://kurema.github.io/schema/siteinfo.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="site">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="author"/>
        <xs:element type="xs:string" name="title"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
